@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

.title {
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 40px;
    letter-spacing: 3px;
    animation: float 3s ease-in-out infinite;

    /* Shadow + Glow */
    text-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.6),   /* Soft black shadow */
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #00bfff;
}


body {
  background-color: black;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.footer {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    letter-spacing: 1px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    opacity: 0.9;
    z-index: 100;
     animation: float 3s ease-in-out infinite;

    /* Shadow + Glow */
    text-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.6),   /* Soft black shadow */
        0 0 20px #fff,
        0 0 30px #00bfff;
}

.footer p {
    margin: 3px 0;
}

.footer strong {
    color: #00bfff;
}
@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}